In [1]:
pressures = [0.273, 0.275, 0.277, 0.275, 0.276]

In [3]:
print('pressures:', pressures)
print('length of pressures:', len(pressures))

pressures: [0.273, 0.275, 0.277, 0.275, 0.276]
length of pressures: 5

In [4]:
print('first pressure recorded:', pressures[0])

first pressure recorded: 0.273

In [5]:
pressures[0] = 0.265

In [6]:
print('pressures is now:', pressures)

pressures is now: [0.265, 0.275, 0.277, 0.275, 0.276]

In [7]:
first_name = 'Peter'
# first_name[0] = 'p' # can't assign to item in string

TypeError: 'str' object does not support item assignment

In [8]:
first_name + ' van Heusden'

'Peter van Heusden'

In [10]:
pressures + [0.280]

[0.265, 0.275, 0.277, 0.275, 0.276, 0.28]

In [11]:
pressures.append(0.280)

In [12]:
print("pressures is now:", pressures)

pressures is now: [0.265, 0.275, 0.277, 0.275, 0.276, 0.28]

In [13]:
val1 = pressures.append(0.29)

In [14]:
print("what is val1:", val1)

what is val1: None

In [16]:
del pressures[-1]

In [17]:
pressures

[0.265, 0.275, 0.277, 0.275, 0.276, 0.28]

In [18]:
del pressures[-1]

In [19]:
pressures

[0.265, 0.275, 0.277, 0.275, 0.276]

In [20]:
mylist = ['apples', 'pears', 3.14159, [1, 2, 3]]

In [21]:
print(type(mylist))

<class 'list'>

In [22]:
mylist[0][1]

'p'

In [23]:
mylist[-1][1]

2

In [24]:
mylist[2] + 7

10.14159

In [25]:
first_name = 'Peter'

In [26]:
list(first_name)

['P', 'e', 't', 'e', 'r']

In [27]:
age = 43

In [29]:
# list(age) # error - int is not iterable

In [32]:
name_list = list(first_name)
name_list_str = str(name_list)
print(name_list_str)
print(name_list_str[0])

['P', 'e', 't', 'e', 'r']
[

In [33]:
':'.join(name_list)

'P:e:t:e:r'

In [36]:
# from string to list and back again
name_list = list('Peter')
first_name = "".join(name_list)
print("the list:", name_list, "the string:", first_name)

the list: ['P', 'e', 't', 'e', 'r'] the string: Peter

In [37]:
# "".join([1, 2, 3]) # won't work - can't join together numbers, only strings

TypeError: sequence item 0: expected str instance, int found

In [40]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print("slice up to but not including element number 5:", numbers[:5])
print("slice from element 5 to the end:", numbers[5:])

slice up to but not including element number 5: [1, 2, 3, 4, 5]
slice from element 5 to the end: [6, 7, 8, 9, 10]

In [41]:
numbers[::2] # odd numbers

[1, 3, 5, 7, 9]

In [42]:
numbers[1::2] # even numbers

[2, 4, 6, 8, 10]

In [43]:
numbers[1:9:3]

[2, 5, 8]

In [47]:
numbers[-1:5:-1] # skipping by negative numbers - the indices are reversed

[10, 9, 8, 7]

In [48]:
other_numbers = numbers

In [49]:
print("other numbers:", other_numbers)
print("numbers:", numbers)

other numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
other_numbers.append(11)
print("other numbers:", other_numbers)
print("numbers:", numbers)

other numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 11]
numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11, 11]

In [53]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [54]:
other_numbers = numbers[:]

In [55]:
print("numbers:", numbers)
print("other numbers:", other_numbers)

numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
other numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
other_numbers.append(11)
print("numbers:", numbers)
print("other numbers:", other_numbers)

numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
other numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [57]:
del other_numbers[-1]

In [58]:
other_numbers.index(7)

6

In [59]:
del other_numbers[6]

In [60]:
other_numbers

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [61]:
other_numbers.index(3.14159)

ValueError: 3.14159 is not in list

In [63]:
for number in [2, 3, 5]:
    print(number)

2
3
5

In [64]:
# for number in [2, 3, 5]:
# print(number)

IndentationError: expected an indented block (<ipython-input-64-d93aa9ee6533>, line 2)

In [65]:
# first_name = "John"
#     surname = "Smith"

IndentationError: unexpected indent (<ipython-input-65-285e6ccc159d>, line 2)

In [66]:
for kitten in [2, 3, 5]:
    print(kitten)

2
3
5

In [67]:
for number in [2, 3, 5]:
    new_number = number * 3
    print(number, new_number)

2 6
3 9
5 15

In [69]:
for number in numbers:
    double = number * 2
    print(double)

2
4
6
8
10
12
14
16
18
20

In [70]:
number_copy = numbers[:]
counter = 0
for number in number_copy:
    double = number * 2
    number_copy[counter] = double
    counter = counter + 1
print(number_copy)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [71]:
for index in range(10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [73]:
numbers_copy = numbers[:]
for index in range(len(numbers_copy)):
    double = numbers_copy[index] * 2
    numbers_copy[index] = double
print(numbers_copy)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [74]:
total = 0
for number in numbers:
    total = total + number
print(total)

55

In [76]:
sum_of_squares = 0
for num in numbers:
     sum_of_squares = sum_of_squares + (num ** 2)
print(sum_of_squares)

100

In [77]:
product_of_num = 1
for num in numbers:
    product_of_num = product_of_num * num
print(product_of_num)

3628800

In [78]:
import math

In [79]:
math.factorial(10)

3628800

In [81]:
import pandas
filename_list = ['data/gapminder_gdp_africa.csv', 'data/gapminder_gdp_asia.csv']
for filename in filename_list:
    data = pandas.read_csv(filename, index_col='country')
    print(filename, data.min())

data/gapminder_gdp_africa.csv gdpPercap_1952    298.846212
gdpPercap_1957    335.997115
gdpPercap_1962    355.203227
gdpPercap_1967    412.977514
gdpPercap_1972    464.099504
gdpPercap_1977    502.319733
gdpPercap_1982    462.211415
gdpPercap_1987    389.876185
gdpPercap_1992    410.896824
gdpPercap_1997    312.188423
gdpPercap_2002    241.165877
gdpPercap_2007    277.551859
dtype: float64
data/gapminder_gdp_asia.csv gdpPercap_1952    331.0
gdpPercap_1957    350.0
gdpPercap_1962    388.0
gdpPercap_1967    349.0
gdpPercap_1972    357.0
gdpPercap_1977    371.0
gdpPercap_1982    424.0
gdpPercap_1987    385.0
gdpPercap_1992    347.0
gdpPercap_1997    415.0
gdpPercap_2002    611.0
gdpPercap_2007    944.0
dtype: float64