In [1]:
import pandas

In [2]:
data = pandas.read_csv('data/gapminder_gdp_oceania.csv', index_col='country')

In [3]:
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [8]:
data.info()
# note this is not the same as data.info without the brackets

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [9]:
data.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [10]:
print(type(data.columns))

<class 'pandas.indexes.base.Index'>

In [11]:
print(data.T)

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [12]:
data.T

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [13]:
data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685413,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077557,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777857
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

In [14]:
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [15]:
data.t

AttributeError: 'DataFrame' object has no attribute 't'

In [18]:
data.T

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [20]:
africa_data = pandas.read_csv('data/gapminder_gdp_africa.csv', index_col='country')

In [22]:
africa_data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,1252.572466,1385.236062,1598.078825,2050.363801,2339.615674,2585.938508,2481.592960,2282.668991,2281.810333,2378.759555,2599.385159,3089.032605
std,982.952116,1134.508918,1461.839189,2847.717603,3286.853884,4142.398707,3242.632753,2566.531947,2644.075602,2820.728117,2972.651308,3618.163491
min,298.846212,335.997115,355.203227,412.977514,464.099504,502.319733,462.211415,389.876185,410.896824,312.188423,241.165877,277.551859
25%,534.990554,606.954355,673.329046,779.815648,815.919804,805.612125,828.656854,764.598759,743.908497,791.901966,780.577824,862.951537
50%,987.025569,1024.022987,1133.783677,1210.376379,1443.372508,1399.638836,1323.728306,1219.585563,1161.631357,1179.883114,1215.683217,1452.267078
75%,1454.886645,1573.040442,1702.219247,1890.112274,2292.258613,2841.282025,2787.582271,2786.310885,2707.896077,2856.386031,3314.887180,3993.501583
max,4725.295531,5487.104219,6757.030816,18772.751690,21011.497210,21951.211760,17364.275380,11864.408440,13522.157520,14722.841880,12521.713920,13206.484520

In [23]:
africa_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, Algeria to Zimbabwe
Data columns (total 12 columns):
gdpPercap_1952    52 non-null float64
gdpPercap_1957    52 non-null float64
gdpPercap_1962    52 non-null float64
gdpPercap_1967    52 non-null float64
gdpPercap_1972    52 non-null float64
gdpPercap_1977    52 non-null float64
gdpPercap_1982    52 non-null float64
gdpPercap_1987    52 non-null float64
gdpPercap_1992    52 non-null float64
gdpPercap_1997    52 non-null float64
gdpPercap_2002    52 non-null float64
gdpPercap_2007    52 non-null float64
dtypes: float64(12)
memory usage: 5.3+ KB

In [24]:
africa_data[:3]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873

In [25]:
africa_data.T[:3]

country,Algeria,Angola,Benin,Botswana,Burkina Faso,Burundi,Cameroon,Central African Republic,Chad,Comoros,...,Somalia,South Africa,Sudan,Swaziland,Tanzania,Togo,Tunisia,Uganda,Zambia,Zimbabwe
gdpPercap_1952,2449.008185,3520.610273,1062.752200,851.241141,543.255241,339.296459,1172.667655,1071.310713,1178.665927,1102.990936,...,1135.749842,4725.295531,1615.991129,1148.376626,716.650072,859.808657,1468.475631,734.753484,1147.388831,406.884115
gdpPercap_1957,3013.976023,3827.940465,959.601080,918.232535,617.183465,379.564628,1313.048099,1190.844328,1308.495577,1211.148548,...,1258.147413,5487.104219,1770.337074,1244.708364,698.535607,925.908320,1395.232468,774.371069,1311.956766,518.764268
gdpPercap_1962,2550.816880,4269.276742,949.499064,983.653976,722.512021,355.203227,1399.607441,1193.068753,1389.817618,1406.648278,...,1369.488336,5768.729717,1959.593767,1856.182125,722.003807,1067.534810,1660.303210,767.271740,1452.725766,527.272182

In [26]:
africa_data.T[:3].describe()

country,Algeria,Angola,Benin,Botswana,Burkina Faso,Burundi,Cameroon,Central African Republic,Chad,Comoros,...,Somalia,South Africa,Sudan,Swaziland,Tanzania,Togo,Tunisia,Uganda,Zambia,Zimbabwe
count,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
mean,2671.267029,3872.609160,990.617448,917.709217,627.650242,358.021438,1295.107732,1151.741265,1292.326374,1240.262587,...,1254.461864,5327.043156,1781.973990,1416.422372,712.396496,951.083929,1508.003770,758.798764,1304.023788,484.306855
std,301.128450,376.326772,62.674393,66.207969,90.085589,20.281472,114.528639,69.663780,106.500430,153.907978,...,116.912824,539.817917,172.096649,383.876844,12.298731,106.126798,136.884915,21.124198,152.822970,67.184869
min,2449.008185,3520.610273,949.499064,851.241141,543.255241,339.296459,1172.667655,1071.310713,1178.665927,1102.990936,...,1135.749842,4725.295531,1615.991129,1148.376626,698.535607,859.808657,1395.232468,734.753484,1147.388831,406.884115
25%,2499.912532,3674.275369,954.550072,884.736838,580.219353,347.249843,1242.857877,1131.077520,1243.580752,1157.069742,...,1196.948627,5106.199875,1693.164102,1196.542495,707.592840,892.858488,1431.854049,751.012612,1229.672798,462.824191
50%,2550.816880,3827.940465,959.601080,918.232535,617.183465,355.203227,1313.048099,1190.844328,1308.495577,1211.148548,...,1258.147413,5487.104219,1770.337074,1244.708364,716.650072,925.908320,1468.475631,767.271740,1311.956766,518.764268
75%,2782.396451,4048.608603,1011.176640,950.943256,669.847743,367.383928,1356.327770,1191.956540,1349.156597,1308.898413,...,1313.817875,5627.916968,1864.965420,1550.445245,719.326940,996.721565,1564.389421,770.821404,1382.341266,523.018225
max,3013.976023,4269.276742,1062.752200,983.653976,722.512021,379.564628,1399.607441,1193.068753,1389.817618,1406.648278,...,1369.488336,5768.729717,1959.593767,1856.182125,722.003807,1067.534810,1660.303210,774.371069,1452.725766,527.272182

In [27]:
africa_data.T[:3].to_csv('data/africa_subset.csv')

In [28]:
africa_data.ix['Algeria']

gdpPercap_1952    2449.008185
gdpPercap_1957    3013.976023
gdpPercap_1962    2550.816880
gdpPercap_1967    3246.991771
gdpPercap_1972    4182.663766
gdpPercap_1977    4910.416756
gdpPercap_1982    5745.160213
gdpPercap_1987    5681.358539
gdpPercap_1992    5023.216647
gdpPercap_1997    4797.295051
gdpPercap_2002    5288.040382
gdpPercap_2007    6223.367465
Name: Algeria, dtype: float64

In [35]:
africa_data.ix['Algeria':'Benin', 'gdpPercap_1952']

country
Algeria    2449.008185
Angola     3520.610273
Benin      1062.752200
Name: gdpPercap_1952, dtype: float64

In [37]:
africa_data.ix['Algeria':'Benin', 'gdpPercap_1952':'gdpPercap_1962']

         gdpPercap_1952  gdpPercap_1957  gdpPercap_1962
country
Algeria     2449.008185     3013.976023     2550.816880
Angola      3520.610273     3827.940465     4269.276742
Benin       1062.752200      959.601080      949.499064

In [38]:
africa_data.ix['Algeria':'Benim', 'gdpPercap_1952':'gdpPercap_1962']

         gdpPercap_1952  gdpPercap_1957  gdpPercap_1962
country
Algeria     2449.008185     3013.976023     2550.816880
Angola      3520.610273     3827.940465     4269.276742